* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 10px;
	
}

.table{
	background: #eee;
}
.section {
	margin: 20px 0px;
}

header {
	margin-bottom: 30px;
	background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.navbar-custom .navbar-nav .nav-link {
	color: #ffffff;
}

.btn-link{
	
	color:white;
	
}

.btn-link:hover{
	
	color:white;
}

:link:focus, :visited:focus { 
-moz-outline: none; 
}

input {

    font-size: 20px;
    border: 2px solid gray;

}


input[type="date"] {
   
   padding:5px;
   
   
   }
   
   
   #p_selection {
    font-size: 12px;
    padding: 10px;
}